body{
    background-color: rgb(20, 18, 18);
}
.navbar{
    color: white;
}
h3,h4,h5,h6{
    color:whitesmoke;
}
.imglogo{
    width: 120px;
    height: 60px;
}
hr{
    box-shadow: whitesmoke;
}
.bi{
    margin-left: 20px;
    margin-right: 10px;
}
a{
    color:gray;

   }
   .carousel-inner{
       height: 450px;
   }
